<ion-header>
    <ion-navbar>
        <ion-title>
            {{params}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-fab right bottom>
        <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
        <ion-fab-list side="left">
            <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>
    <ion-searchbar (ionInput)="getItems($event)" placeholder="请输入检索条件,最多显示15条记录"></ion-searchbar>
    <div class="overflow_div">
        <table>
            <thead>
                <tr>
                    <th style="width: 40px;">
                        <ion-checkbox [(ngModel)]="check_all"></ion-checkbox>
                    </th>
                    <th>客户</th>
                    <th>提单号</th>
                    <th>分单号</th>
                    <th>ETD</th>
                    <th>客服员</th>
                    <th>船名/航次</th>
                    <th>船公司</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="is_first">
                    <td colspan="5">没有记录</td>
                </tr>
                <tr *ngFor="let item of items">
                    <td>
                        <ion-checkbox [(checked)]="check_all"></ion-checkbox>
                    </td>
                    <td>{{item.MBLNo}}</td>
                    <td>{{item.HBLNo}}</td>
                    <td>{{item.ETD}}</td>
                    <td>{{item.StaffName}}</td>
                    <td>{{item.Vsl}}/{{item.Voy}}</td>
                    <td>{{item.CorpCN}}</td>
                    <td>{{item.BLStatus}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ion-content>