page-declaredetailed {
    $color-black: #000;
    ion-content {
        background: #f9f9f9 !important;
    }
    ion-card {
        .row_title {
            height: 40px;
            line-height: 40px;
            font-size: 18px;
            padding: 0 10px;
        }
        .row_title_last {
            font-size: 16px;
            color: #cc9d45;
            text-align: right;
        }
        .item-block {
            min-height: 0.4rem;
            .input-wrapper {
                height: 25px;
                font-size: 16px;
                color: #868686;
            }
        }
        ion-item {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap
        }
        .color_black .label {
            color: $color-black !important;
        }
        img {
            width: 70%;
            height: 70%;
            margin-left: 15%;
        }
        .border-top {
            border-top: solid 1px #e6e6e6 !important;
        }
    }
    ion-footer {
        ion-col {
            padding: 0 !important;
            text-align: center;
            color: #488aff;
        }
        ion-icon {
            font-size: 1.8em;
        }
    }
}