page-search {
    .item {
        padding-left: 0;
    }
    .item-block {
        min-height: 2.3rem;
        height: 20px;
        ;
    }
    ion-list-header {
        padding-left: 10px !important;
        font-size: 16px !important;
    }
    .button_checked {
        background: #488aff;
        color: #fff;
    }
}