<ion-header>
    <ion-navbar>
        <ion-title>
            {{params}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-list no-lines>
            <ion-item>
                <ion-label style="color: purple">号码</ion-label>
                <ion-input type="text" [(ngModel)]="input_txt"></ion-input>
                <ion-select [(ngModel)]="typeTxt" placeholder="选择类型" (ngModelChange)="switchType()">
                    <ion-option value="1">提货</ion-option>
                    <ion-option value="2">发车</ion-option>
                    <ion-option value="3">中转</ion-option>
                    <ion-option value="4">到达</ion-option>
                    <ion-option value="5">签收</ion-option>
                    <ion-option value="6">异常</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                待上传单数
                <ion-note item-end style="color: red;font-size: 18px">{{img_list.length}}</ion-note>
            </ion-item>
        </ion-list>
    </ion-card>
    <ion-card>
        <ion-card-header>
            上传照片
        </ion-card-header>
        <ion-card-content>
            <div *ngFor="let item of img_list">
                <img src="{{item}}">
            </div>
            <div>
                <span (click)="select_img()"> + </span>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-list no-lines>
            <ion-item>
                号码
                <ion-note item-end>15616519516</ion-note>
            </ion-item>
            <ion-item>
                类型
                <ion-note item-end>客户签收单</ion-note>
            </ion-item>
            <ion-item>
                标题
                <ion-note item-end>签收</ion-note>
            </ion-item>
        </ion-list>
    </ion-card>
    <ion-card>
        <ion-card-header style="padding: 0">
            <ion-item>
                <ion-label>费用列表</ion-label>
                <ion-note item-end (click)="go_basicfee()">添加费用</ion-note>
            </ion-item>
        </ion-card-header>
        <ion-list>
            <ion-item-sliding *ngFor="let fee of fee_list">
                <ion-item>
                    <ion-label fixed>{{fee.FeeCN}}</ion-label>
                    <ion-input type="number" placeholder="填写费用金额" [(ngModel)]="fee.Amt"></ion-input>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="danger">
                            <ion-icon name="close"></ion-icon>
                            删除
                          </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </ion-card>
    <div padding>
        <button ion-button class="button-block" large (click)="sub_order()">上传</button>
    </div>
</ion-content>