page-contact {
    .item-block {
        min-height: 3rem;
        height: 50px;
    }
    .button-large-ios {
        height: 2.3em;
        margin: 0 !important;
    }
    .item_title_height {
        height: 30px !important;
    }
    ion-card {
        .item {
            font-size: 1.5rem !important;
        }
        border-radius: 10px !important;
    }
    ion-card-content {
        .item {
            height: 30px !important;
        }
        .input-wrapper {
            margin-bottom: 0 !important;
        }
        div {
            width: 30%;
            float: left;
            margin-right: 2%;
            margin-bottom: 10px;
        }
        img {
            width: 100px;
            height: 100px;
        }
        span {
            width: 70px;
            height: 70px;
            display: block;
            float: left;
            border: solid 2px #e6e6e6;
            line-height: 70px;
            text-align: center;
            font-size: 50px;
            border-radius: 20px;
        }
    }
    #img_list {
        height: 70px !important;
        .img_item {
            margin-right: 5px;
            width: 70px;
            height: 70px;
        }
        img {
            width: 70px;
            height: 70px;
        }
    }
}