page-contact {
    .item-block {
        min-height: 3rem;
        height: 50px;
    }
    .button-large-ios {
        height: 2.3em;
        margin: 0 !important;
    }
    .item_title_height {
        height: 30px !important;
    }
}