$slide_img_height: 150px;
$margin_height:10px;
page-home {
    ion-content {
        background: linear-gradient(#4288fc, #fff, #fff);
        .index_label {
            height: 40px;
            display: block;
            line-height: 55px;
            font-size: 16px;
            font-weight: bold;
            color: #80affd;
            text-align: center;
        }
        .today_new_div {
            height: 40px;
            line-height: 40px;
            img {
                width: 65px;
                float: left;
                height: 30px;
            }
            label {
                height: 30px;
                line-height: 28px;
                display: block;
                float: left;
                margin-left: 15px;
            }
        }
        ion-item-group {
            ion-item-divider {
                background-color: #ffffff !important;
                padding-left: 0 !important;
                label {
                    float: right;
                    font-size: 14px;
                    color: #c5c5c5;
                    margin-top: 3px;
                }
            }
        }
    }
    /* 标准的语法 */
    .ion-slides img {
        $slide_img_height: 150px;
        height: $slide_img_height;
        border-radius: 10px;
    }
    ion-toolbar {
        .toolbar-title {
            color: #fff;
        }
        .toolbar-background {
            background: #4489fc;
        }
    }
    // .content_navbar {
    //     padding: 0 20px;
    //     color: #2b78ac;
    // }
    /*功能导航*/
    #home #nav {
        height: 110px;
        width: 100%;
        // background-color: #fff;
        overflow: hidden;
        // box-shadow: 0 1px 1px #ebebeb;
        margin-bottom: $margin_height;
    }
    #home #nav span {
        display: block;
        float: left;
        width: 33%;
        height: 60px;
        margin-top: 16px;
    }
    #home #nav span img {
        display: block;
        width: 50px;
        height: 50px;
        margin: 0px auto;
    }
    #home #nav span h2 {
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        margin-top: 10px;
    }
    // ion-navbar,
    // ion-slides {
    //     margin-bottom: $margin_height;
    // }
    .item-block {
        min-height: 3rem;
        height: 30px;
        font-size: 1.3rem;
    }
    ion-item-group {
        ion-item {
            height: 70px !important;
            color: #c5c5c5 !important;
        }
        ion-col {
            padding: 0 !important;
        }
        .col-left {
            color: #000;
            font-weight: bold;
        }
        .col-right {
            color: #c5c5c5;
            text-align: right;
        }
        ion-row {
            margin-bottom: 10px;
        }
    }
    .head_portrait {
        width: 30px;
        height: 30px;
        border-radius: 999px;
        margin-left: 10px;
    }
    // ion-header .toolbar-background {
    //     background: #5686fb;
    // }
    // .toolbar-title-ios {
    //     color: #fff !important;
    // }
    // ion-content>.scroll-content {
    //     margin-top: 44px !important;
    // }
}